<header>
  <div class="div-container">
    <div class="div-container-header">
      <div class="container-space-1">
        <div class="div-container-logo">
          <img src="assets/images/iconologo.jpg" alt="" />
        </div>
        <nav class="nav-container-list">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>
      <div class="container-space-search">
        <input type="text" placeholder="Buscar..." />
      </div>
      <div class="container-space-oter"></div>
    </div>
  </div>
</header>
